<label><b>Konu:</b> </label><span>@Model.Subject</span>
<br />
<label><b>Ad:</b> </label><span>@Model.Name</span>
<br />
<label><b>Soyad:</b> </label><span>@Model.Surname</span>
<br />
<label><b>Telefon:</b> </label><span>@Model.PhoneNumber</span>
<br />
<label><b>E-Mail:</b> </label><span>@Model.Email</span>
<br />
<label><b>Mesaj:</b> </label>
<br />
<p>@Model.Message</p>
